html {
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  cursor: pointer;
}

button:hover,
input[type="text"]:hover,
button:focus,
input[type="text"]:focus {
  outline: 0;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
}

.date {
  color: rgba(175, 47, 47, 0.25);
  text-transform: lowercase;
}

h2 {
  color: rgba(175, 47, 47, 0.25);
  font-size: 2rem;
}

.form-section {
  margin: 30px auto 50px;
}

.main-form {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

input[name="name"] {
  padding: 2px 2px 2px 10px;
  width: 300px;
}

input[name="name"]::placeholder {
  font-family: "Gotu", sans-serif;
  font-style: italic;
}

input[name="deadline"] {
  cursor: pointer;
}

.main-form_btn {
  padding: 5px;
  font-family: "Ubuntu", sans-serif;
}

.list-section {
  max-width: 450px;
  margin: 0 auto;
  text-align: left;
  visibility: visible;
  transition: all 0.5s;
  transform: translateY(0);
  opacity: 1;
}

.list-section.empty {
  opacity: 0;
  transform: translateY(-10px);
}

.list-of-tasks {
  display: grid;
  justify-items: center;
}

.task-list {
  list-style-type: none;
  margin-top: 20px;
  font-family: "Gotu", sans-serif;
}

.task-item {
  border-bottom: 1px solid rgba(117, 113, 113, 0.432);
  padding: 10px 20px 5px 1px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  max-width: 450px;
  width: 100%;
  text-align: left;
  font-size: 2rem;
}

.task-item.finished div p:first-child {
  transition: all 0.7s;
  text-decoration-line: line-through;
  text-decoration-thickness: 1px;
  opacity: 0.3;
}

.task-deadline {
  font-size: 0.8rem;
}

.task-item button {
  font-size: 1.5rem;
  font-weight: bold;
  background: transparent;
  border: none;
  color: #f5f5f5;
  position: relative;
  margin: 5px;
  width: 20px;
  height: 20px;
  padding: 3px;
}

.task-item:hover .delete-btn,
.task-item:hover .complete-btn {
  color: #ffffff;
}

.complete-btn:after {
  content: "";
}

.delete-btn:after {
  content: "x";
  font-size: 1.7rem;
}

.complete-btn:after,
.delete-btn:after {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  position: absolute;
  height: 0;
  width: 20px;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  padding: 5px;
}

.task-item:hover .delete-btn:after,
.task-item:hover .complete-btn:after {
  height: 100%;
  opacity: 1;
}

.delete-btn:after {
  background: rgba(175, 47, 47, 0.25);
}

.complete-btn:after {
  background: rgba(95, 523, 133, 0.25);
}

.delete-btn:focus:after {
  background: rgba(175, 47, 47, 0.5);
}

.complete-btn:focus:after {
  background: rgba(95, 223, 133, 0.5);
}

.task-item.finished .complete-btn:after,
.task-item.finished .delete-btn:after {
  opacity: 1;
  height: 100%;
  color: #a8a4a4;
}

.task-item.finished i {
  color: #a8a4a4;
}

.remaining-tasks.completed {
  opacity: 0.5;
}
